<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>survey_rh</display-name>
  <!-- <listener>
    <listener-class>org.apache.commons.fileupload.servlet.FileCleanerCleanup</listener-class> 
  </listener> -->
  <servlet>
    <servlet-name>SurveyCustInfoController</servlet-name>
    <servlet-class>com.rh.surveycontroller.SurveyCustInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyCustInfoController</servlet-name>
    <url-pattern>/SurveyCustInfoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerDetailsUrlServlet</servlet-name>
    <servlet-class>com.rh.surveycontroller.CustomerDetailsUrlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDetailsUrlServlet</servlet-name>
    <url-pattern>/CustomerDetailsUrlServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>